<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wink.xgjhome">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

        <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <application
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true">

        <activity android:name=".RecordActivity" android:exported="false"/>
        <activity android:name=".ShortcutActivity" android:exported="false"/>
        <activity android:name=".SettingsActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".LoginWebActivity" android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ShortcutEditActivity" android:exported="false"/>
        <activity android:name=".AppPickerActivity" android:exported="false"/>
        <activity android:name=".NativePlayerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>

        <activity android:name=".BiliLoginActivity" android:exported="false"/>
        <activity android:name=".SniffActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>

        <activity android:name=".HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".LanShareService" android:stopWithTask="true"/>
        <service android:name=".ScreenRecService" android:exported="false" android:foregroundServiceType="mediaProjection"/>
</application>
</manifest>
